*{
	padding: 0;
	margin: 0;
}
/* 公共布局样式 */
.cell_list_c {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.cell_list_between {
	justify-content: space-between;
}

.cell_list_center {
	justify-content: center;
}
/* flex居中布局 */
.flexCenter{
	display: flex;
	align-items: center;
	justify-content: center;
}

